<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Receitas</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="icon" href="{{ url_for('static', filename='img/6140915_book_design_graphic_pencil_sketch_icon.png') }}">
    </head>
    <body>
        <nav class="navbar navbar-dark navbar-expand-lg h5" style="background-image: linear-gradient(#19A,#19BFB7);">
          <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link fw-lighter" aria-current="page" href="{{ url_for('home') }}"><i class="bi bi-journal-text"></i> <strong>Receitas</strong></a>
                </li>
                {% if session['usuario_logado'] %}
                <li class="nav-item">
                  <a class="nav-link fw-lighter" aria-current="page" href="{{ url_for('cadastro') }}"><i class="bi bi-journal-plus"></i> <strong>Add Receitas</strong></a>
                </li>
                {% endif %}
              </ul>
              <div class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex">
                  {% if session['usuario_logado'] %}
                  <li class="nav-item">
                    <a class="nav-link fw-lighter" href="{{ url_for('logout') }}"><i class="bi bi-door-closed-fill"></i> <strong>SingUt</strong></a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link fw-lighter" href="{{ url_for('login') }}"><i class="bi bi-door-open-fill"></i> <strong>Admim</strong></a>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </nav>

        <div class="container">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class="list-unstyled">
                {% for message in messages %}
                  <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
          <div class="page-header">
              <h1 class="mt-4 mb-5 ms-5 fs-3 fw-lighter">{{ titulo }}</h1>
          </div>
            {% block container %}
            {% endblock %}
        </div>
        <!-- Footer -->
        <footer class="pt-2">
            <!-- Copyright -->
            <div class="text-center py-1">
                <p class="text-white">© Álbum de Receitas - 2023</p>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </body>
</html>